nav {
    background-color:rgba(0, 0, 0, 0.842);
    height: 4em;
}

nav img {
    height: 4em;
    
    margin-top: -0.001%;
    margin-left: 0.3%;
}

ul {
    float: right;
    display: flex;
    margin-top: 1.7%;
    margin-right: 2%;

}

ul li {
    padding: 10px;
    list-style: none;
    text-decoration: none;
    margin-top: -1.5%;
   

}
ul li select:hover{
    color: red;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
 

}

ul li a:hover {
    color: red;
}

header form {
    margin: 6%;
    margin-left: 40%;
}

header form input {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(109, 218, 218);
    border-radius: 20px;
    color: black;
}

 header form button {
    height: 30px;
    background-color: rgb(175, 94, 94);
    border-radius: 10px;
    margin-left: 0.5%;

}
body{
    background-image: url(background.jfif);
    background-size: cover;
}
.contact{
    text-align: center;
    font-size: 200%;
}
.contact input{
    height: 2em;
    width: 50%;
}
.contact button{
   height: 2em;
   width: 10%;
}
.contact1{
    text-align: center;
    font-size: 140%;
    
}
.contact1 input{
    width: 30%;
    height: 2em;
}